
@font-face {
    font-family: 'Asap';
    src: url('../assets/fonts/static/Asap-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Asap';
    src: url('../assets/fonts/static/Asap-Bold.ttf') format('truetype');
}

:root {
    --primary-color: #0e1e30;
    --secondary-color: #0f3029;
    --background-color: #061122;
    --text-color: #f5f7fa;
    --link-color: #58acff;
    --font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    display: flex;
}

main {
    flex: 1;
}

header, footer {
    background-color: var(--primary-color);
    padding: 20px;
    min-height: 50px;
    display: flex;
}

header img {
    width: 280px;
    height: auto;
    margin-left: 20px;
}

footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 0;
    min-height: 50px;
}

footer img {
    width: 50px;
    height: auto;
}

footer a {
    color: var(--link-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 30px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;
}

.img-div img {
    width: 100%;
    max-width: 140px;
    height: 140px;
    object-fit: cover;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.img-div img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, border-color 0.3s ease;
}

dialog {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
.inner-dialog {
    width: 50%;
    height: calc(100% - 40px);
    margin: auto;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dialog-content img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 10px;
}
.close, .next-image, .prev-image {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 2.25em;
    cursor: pointer;
}
.close {
    position: absolute;
    top: 10px;
    align-self: flex-end;
    margin-top: 10px;
    padding: 0 8px;
    background-color: black;
    border-radius: 50%;
}
.next-image, .prev-image {
    margin: 10px;
    padding: 10px;
}               
.next-and-prev-buttons {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    margin-top: 10px;
}
.arrow {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background: radial-gradient(circle at 50% 50%, white 40%, var(--background-color) 41%);
    border: 1px solid var(--background-color);
    border-radius: 50%;
}
.prev {
    transform: rotate(180deg);
}


@media (max-width: 786px) {
    main {
        padding: 20px;
        margin-top: 20px;
    }
    header img {
        width: 200px;
    }
    h1 {
        font-size: 2em;
    }
    .img-div img {
        width: 112px;
        height: 112px;
    }
    .inner-dialog {
        width: 70%;
        padding: 0;
    }
    .close {
        top: 0;
    }
}
@media (max-width: 590px) {
    .inner-dialog {
        width: 80%;
        height: auto;
        padding-top: 40px;
    }
}

@media (max-width: 402px) {
    header img {
        width: 180px;
    }
    h1 {
        font-size: 1.5em;
    }
    .img-div img {
        max-width: 100px;
    }
}
